#content {
    position: absolute;
    height: 50px;
    width: 300px;
    margin-left: 300px;
}


#content.on {
    -webkit-animation-name: in-out;
    animation-name: in-out;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.nal {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #d9534f;
    border-radius: 50%;
    background-color: #ff9800;
    color: #d9534f;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.search:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #d9534f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 26px;
    margin-left: 17px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.close:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    margin-top: -1px;
    margin-left: -13px;
    background-color: #d9534f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.close:after {
    content: "";
    position: absolute;
    width: 27px;
    height: 4px;
    background-color: #d9534f;
    margin-top: -1px;
    margin-left: -13px;
    cursor: pointer;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 300px;
    height: 50px;
    border: 4px solid #d9534f;
    border-radius: 0;
    background: none;
    color: #d9534f;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}



input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-radius: 5px;
    outline: none;

    &:focus {
        border: 1px solid #008ABF;
        box-shadow: 0 0 5px rgba(0, 138, 191, 0.5);
        transition: 0.35s ease;
        color: #008ABF;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}


.btn-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-footer {
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

#blogs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#blogs td, #blogs th {
    border: 1px solid #ddd;
    padding: 8px;
}

#blogs tr:nth-child(even) {
    background-color: #f2f2f2;
}

#blogs tr:hover {
    background-color: #ddd;
}

#blogs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.notify {
    color: red;
}

.search-container {
    width: 490px;
    display: flex;
    margin-left: 850px;
    flex-direction: row;

}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

a img {
    margin-right: 20px;
}

section {
    display: flex;
    flex-direction: row;
}

.page {
    text-align: center; /* Center the text content */
    margin: 0 auto; /* Center the entire div horizontally */
}
.form-select{
    margin-left: 100px;
}