<!DOCTYPE html>
<html lang="en">

<body>
<footer class="footer-05">

    <div class="container">

            <div class="row border-bottom mb-5 pb-4 align-items-center">
                <div class="col-md-6 mb-md-0 mb-4">
                    <h2 class="logo"><a href="#">MEO MEO <span>V4V Company</span></a></h2>
                </div>
                <div class="col-md-6 mb-md-0 mb-4 text-md-right">
                    <ul class="ftco-footer-social p-0 mb-0">
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                                class="ion-logo-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                    title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                                    title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">V4V</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon ion-ios-pin"></span><span class="text">Viet Nam, Da Nang</span>
                            </li>
                            <li><a href="#"><span class="icon ion-ios-call"></span><span
                                    class="text">+84 093 584 8473</span></a>
                            </li>
                            <li><a href="#"><span class="icon ion-ios-send"></span><span
                                    class="text">v4v@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                            <button type="submit" class="form-control submit rounded-right"><span
                                    class="sr-only">Submit</span><i class="ion-ios-send"></i></button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Latest News</h2>
                    <div class="block-21 mb-4 d-flex">
                        <a class="img mr-4 rounded" style="background-image: url(/image/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="img mr-4 rounded" style="background-image: url(/image/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Oct. 16, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Best Sellers</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="featured">
                                <a href="#" class="img rounded mb-3"
                                   style="background-image: url(/image/prod-1.jpg);"></a>
                                <div class="text">
                                    <h3><a href="#">Grilled Beef with potatoes</a></h3>
                                    <p class="rate">
                                        <a href="#"><span class="ion-ios-star"></span></a>
                                        <a href="#"><span class="ion-ios-star"></span></a>
                                        <a href="#"><span class="ion-ios-star"></span></a>
                                        <a href="#"><span class="ion-ios-star"></span></a>
                                        <a href="#"><span class="ion-ios-star"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                    <h2 class="footer-heading">Instagram</h2>
                    <div class="block-24">
                        <div class="row no-gutters">
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-1.jpg);"></a>
                            </div>
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-2.jpg);"></a>
                            </div>
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-3.jpg);"></a>
                            </div>
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-4.jpg);"></a>
                            </div>
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-5.jpg);"></a>
                            </div>
                            <div class="col-4 col-md-4">
                                <a href="#" class="img" style="background-image: url(/image/insta-6.jpg);"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
</footer>

</body>
</html>