.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
span{
  float:right;
}

/* modalStyles.css */

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.custom-modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-buttons button:hover {
  background-color: #ddd;
}

.confirm-button {
  background-color: #d9534f;
  color: #fff;
}

.cancel-button {
  background-color: #5bc0de;
  color: #fff;
}
.date-range-form{
  display: flex;
}
.date-input-container{
  display: flex;
}
.single-date-form{
  display: flex;
}
.group-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.gr1{
  padding: 10px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.custom-button {
  background: #007BFF;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.select{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.search-combine {
  display: flex;
  gap: 12px;
}
.input-group {
  margin-bottom: 20px;
  flex-direction: column;
  display: block;
  font-weight: bold;
}
.label {
  margin-bottom: 5px;
}
.input-name,
.select-name {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

